{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}
{%
  set link_attributes = {
    class: [
      'inline-flex',
      'items-center',
      'px-4',
      'py-1',
      'border',
      'border-transparent',
      'text-xs',
      'font-medium',
      'shadow-sm',
      'text-gray-700',
      'hover:bg-gray-100',
      'focus:outline-none',
      'focus:ring-2',
      'focus:ring-offset-2',
      'focus:ring-orange-500',
      'w-full',
      'justify-center',
    ],
  }
%}
{#
We call a macro which calls itself to render the full tree.
@see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, link_attributes) }}

{% macro menu_links(items, attributes, menu_level, link_attributes) %}
  {% import _self as menus %}
  {% if items %}

    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('flex') }}>
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
      <li{{ item.attributes.addClass('w-1/3 sm:w-auto') }}>
        {{ link(item.title, item.url, link_attributes) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1, link_attributes) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
