{#
/**
 * @file
 * Theme override for a details element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the details element.
 * - errors: (optional) Any errors for this details element, may not be set.
 * - title: (optional) The title of the element, may not be set.
 * - summary_attributes: A list of HTML attributes for the summary element.
 * - description: (optional) The description of the element, may not be set.
 * - children: (optional) The children of the element, may not be set.
 * - value: (optional) The value of the element, may not be set.
 *
 * @see template_preprocess_details()
 */
#}
{%
  set classes = [
    'my-1',
    'md:mb-4',
    'flex',
    'flex-wrap',
    'bg-gray-100',
    'rounded-md',
  ]
%}

<details{{ attributes.addClass(classes) }}>
  {%
    set summary_classes = [
      required ? 'js-form-required',
      required ? 'form-required',
      'font-bold',
      'outline-none',
      'focus:outline-none',
    ]
  %}
  {%- if title -%}
    <summary{{ summary_attributes.addClass(summary_classes) }}>{{ title }}</summary>
  {%- endif -%}

  {% if errors %}
    <div>
      {{ errors }}
    </div>
  {% endif %}

  <div class="w-full mt-2 mb-1 text-sm text-gray-600 description md:mb-4">
    {{ description }}
    {{ children }}
    {{ value }}
  </div>
</details>